<div class="container py-4">

  <div class="d-flex flex-column flex-md-row flex-md-nowrap justify-content-between align-items-md-center gap-3 mb-4">

  <input type="text"
         id="searchBox"
         #searchInput
         class="form-control form-control-lg shadow-sm"
         placeholder="Pesquisar por título ou autor..."
         (input)="onSearch(searchInput.value)"/>

  <a class="btn btn-success btn-lg shadow-sm d-flex align-items-center gap-2" (click)="openAddBookModal()">
    <i class="fa-solid fa-book"></i>
    <span>Cadastrar Livro</span>
  </a>

</div>

<app-book-loan-nav></app-book-loan-nav>

  <div class="table-responsive shadow-lg rounded-4 border overflow-hidden">

    <table class="table table-hover table-nowrap align-middle mb-0 w-100">

      <thead class="bg-body-tertiary text-secondary text-uppercase small position-sticky top-0 z-1">
        <tr>
          <th class="px-4">Título</th>
          <th>Autor</th>
          <th style="width: 22%;">Descrição</th>
          <th class="text-center">Qtd</th>
          <th>Registro</th>
          <th>Catálogo</th>
          <th>Status</th>
          <th class="text-center" style="width: 120px;">Ações</th>
        </tr>
      </thead>

      <tbody class="bg-white">

        @for (book of Books; track book.id) {

        <tr>

          <td class="px-4 fw-semibold text-dark">{{ book.title }}</td>

          <td>{{ book.author }}</td>

          <td class="text-muted text-truncate desc-col">
            {{ book.description }}
          </td>

          <td class="text-center fw-semibold">
            {{ book.quantity }}
          </td>

          <td>{{ book.registrationDateShort }}</td>

          <td>{{ book.catalog }}</td>

          <td>
            <span class="badge rounded-pill px-3 py-2 {{ book.status === 'Disponível' ?
            'bg-success-subtle text-success' : '' }} {{ book.status === 'Indisponível' ?
            'bg-danger-subtle text-danger' : '' }}">
              {{ book.status }}
            </span>
          </td>

          <td class="text-center">
            <div class="d-flex justify-content-center gap-3 action-group">

              <button class="btn-action text-primary" title="Detalhes" (click)="openBookDetailsModal(book.id)">
                <i class="fa-solid fa-circle-info fa-lg"></i>
              </button>

              <button class="btn-action text-warning" title="Editar" (click)="openEditBookModal(book.id)">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>

              <button class="btn-action text-danger" title="Excluir" (click)="openDeleteBookModal(book.id)">
                <i class="fa-solid fa-trash fa-lg"></i>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>


