.layout-wrapper {
  padding-top: 0;
}

app-navbar + .layout-wrapper {
  padding-top: 70px;
}

.footer {
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .footer {
    font-size: 0.8rem;
    padding: 12px 10px;
  }
}
