/* X limpar */
.btn-clear {
  position: absolute;
  top: 50%;
  right: 44px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #6c757d;
  cursor: pointer;
  padding: 0;
}

.btn-clear:hover {
  color: #000;
}

/* Seta */
.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #6c757d;
  cursor: pointer;
  pointer-events: auto;
}

.dropdown-arrow:hover {
  color: #000;
}
