html, body { height: 100%; margin:0; }

body {padding-top: 72px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.custom-snackbar .mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.app-footer {
  color: #ccc;
  padding: 18px 0;
  font-size: 0.9rem;
  margin-top: 40px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  color: #ccc;
  margin-left: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
}

.footer {
  color: white;
  text-align: center;
  padding: 14px 0;
}




